*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: #2C3E50;
    width: auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    position: sticky;
    top: 0;
}
ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin: 0 15px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover{
    color: #1ABC9C;
}
#bootstrap{
    background-color: #1ABC9C;
    text-align: center;
    color: #fff;
    padding-top: calc(2rem + 74px);
    padding-bottom: 6rem;
    font-size: 30px;
}

#bootsrap, .star{
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bootsrap, .line{
    background-color: #fff;
    height: 4px;
    width: 100px;
    margin: 0 25px;
    border-radius: 10px;
}
#portfolio, .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}
#portfolio, .row .col-lg-4{
    width: 30%;
    margin-top: 10px;
}
#portfolio, img{
    width: 100%;
    border-radius: 10px;
}
#portfolio, .icon{
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
#portfolio, .title{
    text-align: center;
}

#portfolio .title .icon .star .line{
    background-color: black;
    height: 4px;
}
#about{
    background-color: #1ABC9C;
    height: 55%;
    color: #fff;
}
#about .title{
    font-size: 30px;
    padding-top: 6%;
}
#about .star{
    font-size: 30px;
}
#about p{
    margin: 0 30px;
}
.info{
    display: flex;
    justify-content: center;
    padding: 0 20%;
    margin-bottom: 70px;
}
#about .btn{
    padding-bottom: 8%;
    margin-left: 42%;
}
#about .btn a{
    text-decoration: none;
    color: #fff;
    background-color: none;
    border: 2px solid #fff;
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
    border-radius: 10px;
}
#about .btn a:hover{
    background-color: #fff;
    color: black;
}
#contact .star .line{
    background-color: black;
}
#contact .star {
    font-size: 30px;
}
#contact .title{
    font-size: 35px;
    padding-top: 50px;
}
#contact .forms{
    text-align: center;
}
#contact .form input{
    border: none;
    width: 45%;
    padding-bottom: 30px;
    font-size: 25px;
    border-bottom: 1px solid rgb(173, 170, 170);
    margin: 20px;
}
#contact .form textarea{
    border: none;
    width: 45%;
    padding-bottom: 30px;
    font-size: 25px;
    border-bottom: 1px solid rgb(173, 170, 170);
    margin: 20px;
}
#contact .btn a{
    text-decoration: none;
    color: #fff;
    background-color: #1ABC9C;
    padding: 20px 30px;
    border-radius: 10px;
}
#contact .btn{
    margin-right: 40%;
    padding-top: 20px;
}

footer{
    margin-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2C3E50;
    color: #fff;

}

footer #container{
    text-align: center;
    padding:35px;
    
}
.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
    
}

.icons{
    margin: 35px 70px;
}
.icons ul li{
   list-style-type: none;
}
.icons ul li a{
    color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 15px;
    font-size: 25px;
    margin: 10px;
}
.icons ul li a:hover{
    background-color: #fff;
    color: black;
}
#container h2{
    margin-bottom: 20px;
}
#copyright{
    height: 80px;
    background-color: #1A252F;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}